<ion-view view-title="Register">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
	<span class="input-label">
	  Email
	</span>
	<input type="text">
      </label>
      <label class="item item-input item-stacked-label">
	<span class="input-label">
	  Password
	</span>
	<input type="password">
      </label>
      <label class="item item-input item-stacked-label">
	<span class="input-label">
	  Confirm Password
	</span>
	<input type="password">
      </label>
    </div>


    <div style="text-align: center">
      <button class="button button-positive">
	Register
      </button>
    </div>


  </ion-content>
</ion-view>
