<ion-view view-title="Request Details" ng-init="init_marker()">
  <ion-content>


    <h1>
      Request Details
    </h1>


    <div id="map" style="height: 300px; width: 100vw;">

    </div>

    {{position.latitude}}, {{position.longitude}}

    <div class="list">
      <label class="item item-input item-stacked-label">
	<span class="input-label">
	  Delivery Notes
	</span>
    {{request.delivery_notes}}
      </label>
    </div>
    <div style="text-align: center">
      <button
	 class="button button-positive"
	 ng-click="center_on_me()"
	 >
	My Current Location
      </button>
      <button class="button button-positive" ng-click="accept_delivery()">
	Accept Delivery
      </button>
    </div>
  </ion-content>
</ion-view>
