<ion-view view-title="Request Details" ng-init="init_marker()">
  <ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
      <ui-gmap-markers
	 models="markers"
	 coords="'self'"
	 icon="'icon'"
      ></ui-gmap-marker>
      <ui-gmap-polyline path="points"
			fit="true"
			stroke="stroke"
			>
      </ui-gmap-polyline>
    </ui-gmap-google-map>

    
    <!-- {{position.latitude}}, {{position.longitude}} -->

    <div class="list">
      <label class="item">
        <span class="label">
          Pick up from
        </span>
          {{request.restaurant_id}}
      </label>
      <label class="item">
        <span class="label">
          Drop off to
        </span>
          {{request.dropoff_location[1]}},
          {{request.dropoff_location[0]}}
      </label>
      <label class="item">
      	<span class="label">
      	  Delivery Notes:
      	</span>
          {{request.delivery_notes}}
      </label>
    </div>
    <div style="text-align: center">
      <button class="button button-positive" ng-click="accept_delivery()">
      	Accept Delivery
      </button>
    </div>
  </ion-content>
</ion-view>
